---
import { Image } from 'astro:assets'
import background from '../images/background.jpg'
import ipad from '../images/ipad.png'
import lego from '../images/lego.png'
import whatsapp from '../images/whatsapp.png'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Blocuri Beton | Acasă'>
	<main>
		<section class='md:flex'>
			<div class='absolute -z-50 top-0 left-0 right-0 mt-16'>
				<Image
					src={background}
					alt='Page Background.'
					class='object-cover h-[600px] md:h-[700px] lg:h-[850px] xl:h-[920px] opacity-70'
				/>
			</div>
			<div class='flex flex-col items-center text-center md:text-left md:items-start'>
				<ul class='text-5xl md:text-7xl lg:pr-40 font-black mt-20 lg:mt-32'>
					<li>Simplu.</li>
					<li>Adaptabil.</li>
					<li>Funcțional.</li>
				</ul>
				<div class='font-light text-2xl my-4'>
					Încearcă blocurile <span class='font-bold'>interblocabile</span> de beton.
				</div>
				<a
					href='https://wa.me/774958379'
					target='_blank'
					class='bg-[#25D366] p-6 rounded-2xl py-3 md:mt-4 flex items-center text-white text-2xl gap-3 font-medium transition-all duration-300 hover:scale-90 active:scale-90 cursor-pointer'
				>
					<Image
						src={whatsapp}
						alt='Whatsapp Button'
						class='w-8'
					/>
					<span>Whatsapp</span>
				</a>
			</div>
			<div class='md:rotate-6 md:pt-10 lg:mt-0'>
				<Image
					src={ipad}
					alt='Ipad Mockup'
				/>
			</div>
		</section>
		<section class='flex py-6 justify-between flex-col md:flex-row gap-6 items-center space-y-10'>
			<div
				style='box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);'
				class='rounded-2xl shadow-lg md:max-w-max p-10 md:p-4 lg:p-10 flex flex-col items-center gap-2 bg-white'
			>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='2.5em'
					height='2.5em'
					viewBox='0 0 15 15'
					><path
						fill='black'
						fill-rule='evenodd'
						d='M3 2.5a.5.5 0 0 1 .5-.5h5.586a.5.5 0 0 1 .353.146l2.415 2.415a.5.5 0 0 1 .146.353V12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5zM3.5 1A1.5 1.5 0 0 0 2 2.5v10A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V4.914a1.5 1.5 0 0 0-.44-1.06l-2.414-2.415A1.5 1.5 0 0 0 9.086 1zm1 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1z'
						clip-rule='evenodd'
					></path></svg
				>
				<div>
					<span class='text-xl font-semibold'>Avantajele acestora:</span>
					<ul class='space-y-2 text-neutral-700 mt-3'>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Durabilitate</span>
						</li>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Rentabilitate</span>
						</li>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Reutilizabilitate</span>
						</li>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Instalare rapidă</span>
						</li>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Îmbinare si aliniere ușoară</span>
						</li>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Nu necesită fundație</span>
						</li>
						<li class='flex items-start'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								width='1.5em'
								height='1.5em'
								viewBox='0 0 15 15'
								><path
									fill='#00c864'
									fill-rule='evenodd'
									d='M11.467 3.727c.289.189.37.576.181.865l-4.25 6.5a.625.625 0 0 1-.944.12l-2.75-2.5a.625.625 0 0 1 .841-.925l2.208 2.007l3.849-5.886a.625.625 0 0 1 .865-.181'
									clip-rule='evenodd'
								></path></svg
							><span>Construcția este gata de <div>utilizare in câteva ore</div></span>
						</li>
					</ul>
				</div>
			</div>
			<div
				style='box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);'
				class='rounded-2xl shadow-lg md:max-w-max p-10 md:p-4 lg:p-10 flex flex-col items-center gap-2 bg-white'
			>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='2.2em'
					height='2.2em'
					viewBox='0 0 15 15'
					><path
						fill='black'
						fill-rule='evenodd'
						d='M3.309 1a1 1 0 0 0-.894.553L1.053 4.276A.5.5 0 0 0 1 4.5V13a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.053-.224l-1.362-2.723A1 1 0 0 0 11.691 1H7.5zm0 1H7v2H2.309zM8 4V2h3.691l1 2zm-.5 1H13v8H2V5zm-2 2a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z'
						clip-rule='evenodd'
					></path></svg
				>
				<div>
					<span class='text-xl font-semibold'>Utilizate pentru:</span>
					<ul class='space-y-2 text-neutral-700 mt-3'>
						<li>Protecții mal</li>
						<li>Baricade de siguranță</li>
						<li>Pereți de sprijin</li>
						<li>Pereți despărțitori</li>
						<li>Ziduri de reținere</li>
						<li>Căi navigabile</li>
						<li>Construcții de gard</li>
					</ul>
				</div>
			</div>
			<div
				style='box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);'
				class='rounded-2xl shadow-lg md:max-w-max p-10 md:p-4 lg:p-10 flex flex-col items-center gap-2 bg-white'
			>
				<span
					><svg
						xmlns='http://www.w3.org/2000/svg'
						width='2em'
						height='2em'
						viewBox='0 0 15 15'
						><path
							fill='currentColor'
							fill-rule='evenodd'
							d='M3 2.739a.25.25 0 0 1-.403.197L1.004 1.697a.25.25 0 0 1 0-.394L2.597.063A.25.25 0 0 1 3 .262v.74h6V.26a.25.25 0 0 1 .404-.197l1.592 1.239a.25.25 0 0 1 0 .394l-1.592 1.24A.25.25 0 0 1 9 2.738V2H3zM9.5 5h-7a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5m-7-1A1.5 1.5 0 0 0 1 5.5v7A1.5 1.5 0 0 0 2.5 14h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 9.5 4zm12.239 2H14v6h.739a.25.25 0 0 1 .197.403l-1.239 1.593a.25.25 0 0 1-.394 0l-1.24-1.593a.25.25 0 0 1 .198-.403H13V6h-.739a.25.25 0 0 1-.197-.403l1.239-1.593a.25.25 0 0 1 .394 0l1.24 1.593a.25.25 0 0 1-.198.403'
							clip-rule='evenodd'
						></path></svg
					></span
				>
				<div>
					<span class='text-xl font-semibold'>Dimensiuni:</span>
					<ul class='space-y-2 text-neutral-700 mt-3'>
						<li>160 x 40 x 40 cm</li>
						<li>80 x 80 x 80 cm</li>
						<li>40 x 40 x 40 cm</li>
					</ul>
				</div>
			</div>
		</section>
		<section class='flex md:flex-row flex-col-reverse items-center justify-between'>
			<div class='max-w-md p-6'>
				<div class='font-bold text-2xl my-4'>Blocurile noastre de beton pot fi:</div>
				<ul class='space-y-2 text-neutral-700'>
					<li class='list-disc'>Modificate, extinse sau relocate complet</li>
					<li>Folosite în zone industriale precum terminale portuare</li>
					<li class='list-disc'>
						Soluția ideală ca și bariere de incendiu pentru materiale inflamabile sau materiale periculoase
					</li>
					<li class='list-disc'>
						Utilizate pentru a controla, reduce sau preveni efectele dăunătoare a creșterii nivelului apei
					</li>
					<li class='list-disc'>
						Folosite ca blocaje rutiere, pentru gestionarea temporară sau permanentă a traficului
					</li>
					<li class='list-disc'>
						Soluția perfectă pentru o structură stabilă, cu pereți duri care rezistă la încărcarea materialelor din
						siloz pe perioadă depozitării sau în timpul încărcării sau descărcării materialului
					</li>
				</ul>
			</div>
			<div class='md:max-w-md max-w-80 hidden md:block'>
				<Image
					src={lego}
					alt='Ipad Image'
				/>
			</div>
		</section>
	</main>
</Layout>
