<footer class='text-xs text-neutral-600 flex flex-col justify-between gap-4 mt-8'>
	<div class='flex justify-between flex-col md:flex-row gap-4'>
		<div class='md:max-w-80 lg:max-w-md'>
			<div class='text-lg font-bold'>Blocuri Beton</div>
			<p>
				Firma noastra se ocupa cu fabricarea si distribuirea blocurilor de beton de tip LEGO, interschimbabile, de
				diverse marimi. Pentru mai multe detalii legate de produsele noastre, nu ezitati sa ne contactati!
			</p>
		</div>
		<div class='flex justify-between md:gap-28 lg:gap-44'>
			<div>
				<div class='text-lg font-bold'>Meniu</div>
				<ul class='justify-between flex flex-col gap-1'>
					<li class='cursor-pointer hover:underline'>
						<a href='/'>Acasă</a>
					</li>
					<li class='cursor-pointer hover:underline'>
						<a href='/galerie/'>Galerie</a>
					</li>
					<li class='cursor-pointer hover:underline'>
						<a href='/contact/'>Contact</a>
					</li>
				</ul>
			</div>
			<div>
				<div class='text-lg font-bold'>Contact</div>
				<ul class='justify-between flex flex-col gap-1'>
					<li class='cursor-pointer hover:underline'>
						<a href='tel:+40 774 958 379'>+40 774 958 379</a>
					</li>
					<li class='cursor-pointer hover:underline'>
						<a href='/contact'>Constanța, România</a>
					</li>
					<li class='cursor-pointer hover:underline'>
						<a href='/contact'>Luni-Vineri : 9:00-18:00</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class='flex flex-col md:flex-row justify-between'>
		<div>© 2024 - Toate drepturile rezervate Blocuri Beton S.R.L.</div>
		<div>
			Design & Development by <a
				href='https://dorobantimedia.com'
				target='_blank'
				class='text-black font-bold hover:underline'
				>Dorobanți Media</a
			>
		</div>
	</div>
</footer>
