<footer class='text-xs text-neutral-600 flex flex-col md:flex-row justify-between gap-1 mt-8'>
	<div>© 2024 - Toate drepturile rezervate Blocuri Beton S.R.L.</div>
	<div>
		Design & Development by <a
			href='https://dorobantimedia.com'
			target='_blank'
			class='text-black font-bold'
			>Dorobanti Media</a
		>
	</div>
</footer>
