<header class='flex justify-between text-lg items-center'>
	<span class='text-2xl'>BlocuriBeton</span>
	<ul class='justify-between gap-4 uppercase hidden sm:flex'>
		<li>acasa</li>
		<li>galerie</li>
		<li>contact</li>
	</ul>
	<div>
		<ul class='hidden sm:flex'>
			<li>toggle</li>
		</ul>
	</div>
	<div class='sm:hidden flex'></div>
</header>
